/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/
.proverc

*.bak
*.old
*~
*.swp
*.o
*.obj
eg.*

!LICENSE

/_build_params

MYMETA.*

/Net-Azure-CognitiveServices-Face-*

